

/*
 * Credits to the original card creator: htwarriors108 (HT WARRIORS).
 */
.card {
  position: relative;
  display: grid;
  grid-template-columns: repeat(24, 1fr);
  grid-template-rows: repeat(6, 1fr);
  width: 90%;
  height: 80%;
  color: #fff;
  transition: 0.5s;
  margin-left: auto;
  margin-right: auto;
}

.card:hover {
  transform: translateY(-20px);
}

.card::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: linear-gradient(45deg, #00ff88, #006c3a);
  border-radius: 1.2em;
}

.card::after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, #00ff88, #006c3a); 
  filter: blur(30px);
}


.card span::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 50%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.1);
}

@keyframes slideIn {
  from {
    transform: translateX(-100%);
  }
  to {
    transform: translateX(0);
  }
}

#title_cv {
  color: rgba(0, 29, 7, 0.884);
  font-size: 4rem;
  text-align: center;
  padding-top: 10%;
  animation: slideIn 1.5s ease-out forwards, scale 2s ease 1.5s;
}

#logo{
  position: relative;
  z-index: 3;
  width: 300px;
  padding: 20px
}

nav{
  position: relative;
  display: flex;
  justify-content: space-between;
  z-index: 3;
  font-weight: bold;
  font-size: larger;
  padding: 20px;
}

nav a {
  color: white; 
  text-decoration: none; 
}

#presentation{
  z-index: 3;
}

.articles-section{
  z-index: 3;
}
.button-container{
  z-index: 3;
}

@media (width < 550px) { 
  #title_cv {
    color: rgba(0, 29, 7, 0.884);
    font-size: 2rem;
    text-align: center;

  }
  #logo{
   grid-column: 2 / 23;
   grid-row: 1;
  }
  nav{
    grid-column:  2 / 23;
    grid-row: 2;
  }
  #presentation{
    grid-column:  2 / 23;
    grid-row: 3;
  }
  .articles-section{
    grid-column:  2 / 23;
    grid-row: 4;
  }
  .button-container{
    grid-column:  2 / 12;
    grid-row: 5;
  }
}

@media (550px <= width <= 1024px) {
  #logo{
    grid-column: 2 / 12;
    grid-row: 2;
  }

  nav{
    grid-column:  2 / span 22;
    grid-row: 1;
  }
  #presentation{
    grid-column:  2 / 12;
    grid-row: 3;
  }

}


@media (width > 1024px) {
  #logo{
    grid-column: 2 / 12;
    grid-row: 2;
  }
  nav{
    justify-content: space-between;
    grid-column:  6 / 18;
    grid-row: 1;
  }
  #presentation{
    grid-column:  2 / 12;
    grid-row: 3;
  }

}


